<!--<mat-toolbar color="primary">
    <button mat-button>HOME</button>
    <button mat-button routerLink="/registration" >REGISTER</button>
    <button mat-button routerLink="/login">LOGIN</button>
    <button mat-button>ABOUT US</button>
    <button mat-button>CONTACT</button>
    <button mat-button>LOGOUT</button>
   </mat-toolbar>-->
   <!-- As a link -->

<nav class="navbar navbar-dark bg-primary" >
    <span class="navbar-brand mb-0 h1">WELCOME</span>
    <small>
    <a class="navbar-brand" href="/registration">REGISTER</a>
    <a class="navbar-brand" href="/login">LOGIN</a>
    <a class="navbar-brand" href="/">ABOUT US</a>
    <a class="navbar-brand" href="/contactus">CONTACT US</a>
</small>
  </nav>