<head>
  <style>
      .bottom-right { 
            bottom: 10%; 
            right: 5%; 
        } 
  </style>
</head>

<nav class="navbar navbar-dark bg-primary">
  <span class="navbar-brand mb-0 h1"></span>
  <small>
  <a class="navbar-brand" href="/">LOGOUT</a>
  
  <a class="navbar-brand" href="/">ABOUT US</a>
  <a class="navbar-brand" href="/">CONTACT US</a>
</small>
</nav>
<div class="position-absolute bottom-right"> 
  <button type="button" class="btn btn-primary">GO AS FACILITATOR</button> 
</div> 