<nav class="navbar navbar-dark bg-primary" >
    <span class="navbar-brand mb-0 h1"></span>
    <small>
    <a class="navbar-brand" href="/registration">REGISTER</a>
    <a class="navbar-brand" href="/login">LOGIN</a>
    <a class="navbar-brand" href="/">ABOUT US</a>
    
</small>
  </nav>
  <div>
 
   <h1>SUPPORT</h1> 
   <h2> Contact us</h2>
    Call 800-842-2252 to talk about learning and teaching
    WE'RE HERE EVERY WEEKDAY FROM 8 A.M. TO 10 P.M. (ET) AND SATURDAY FROM 9 A.M. TO 6 P.M. (ET).
 
</div>